 @keyframes blink {
    0% { background: #f00; }
    50% { background: #000; }
    100% { background: #f00; }
}

.btn-container {
    margin: 20px;
    text-align: center;
    position: relative;
}

.btn-container button {
    background: #000;
    color: #0f0;
    border: 1px solid #0f0;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    position: absolute;
}

#btn1 {
    bottom: -50px;
    left: -30px;
    width: 80px;
}

#btn2 {
    bottom: -50px;
    left: 70px;
    width: 80px;
}

#btn3 {
    bottom: -50px;
    left: 170px;
    width: 80px;
}

#logout-btn {
    bottom: -50px;
    left: 270px;
    width: 80px;
    color: #fff;
    border: 1px solid #f00;
    animation: blink 1s infinite;
}

.btn-container button:hover {
    background: #0f0;
    color: #000;
}

#btn4 {
    bottom: -105px;
    left: -30px;
    width: 80px;
}

#btn5 {
    bottom: -105px;
    left: 70px;
    width: 80px;
}

#btn6 {
    bottom: -105px;
    left: 170px;
    width: 80px;
}

#btn7 {
    bottom: -105px;
    left: 270px;
    width: 80px;
}

#btn8 {
    bottom: -160px;
    left: -30px;
    width: 80px;
}

#btn9 {
    bottom: -160px;
    left: 70px;
    width: 80px;
}

#btn10 {
    bottom: -160px;
    left: 170px;
    width: 80px;
}

#btn11 {
    bottom: -160px;
    left: 270px;
    width: 80px;
}

#btn12 {
    bottom: -215px;
    left: -30px;
    width: 80px;
}

#btn13 {
    bottom: -215px;
    left: 70px;
    width: 80px;
}

#btn14 {
    bottom: -215px;
    left: 170px;
    width: 80px;
}

#btn15 {
    bottom: -215px;
    left: 270px;
    width: 80px;
}
