 /* Buttons */
        .btn-container {
            margin: 20px;
            text-align: center;
            position: relative; /* Allows absolute positioning of buttons inside this container */
        }
        .btn-container button {
            background: #000;
            color: #0f0;
            border: 1px solid #0f0;
            border-radius: 5px;
            padding: 10px 20px;
            font-size: 16px;
            margin: 10px; /* Adjusts space around each button */
            cursor: pointer;
            position: absolute; /* Allows precise positioning */
        }
        #btn1 {
            bottom: -50px; /* Adjust position */
            left: -30px; /* Adjust position */
            width: 80px;
        }
        #btn2 {
            bottom: -50px; /* Adjust position */
            left: 70px; /* Adjust position */
            width: 80px;
        }
        #btn3 {
            bottom: -50px; /* Adjust position */
            left: 170px; /* Adjust position */
            width: 80px;
        }
        #logout-btn {
            bottom: -50px; /* Adjust position */
            left: 270px; /* Adjust position */
            width: 80px;
        }
        .btn-container button:hover {
            background: #0f0:
            color: #000;
        }
        
         #btn4 {
            bottom: -105px; /* Adjust position */
            left: -30px; /* Adjust position */
            width: 80px;
        }
        
        #btn5 {
            bottom: -105px; /* Adjust position */
            left: 70px; /* Adjust position */
            width: 80px;
        }
        
        #btn6 {
            bottom: -105px; /* Adjust position */
            left: 170px; /* Adjust position */
            width: 80px;
        }
        
        #btn7 {
            bottom: -105px; /* Adjust position */
            left: 270px; /* Adjust position */
            width: 80px;
        }
        
        #btn8 {
            bottom: -160px; /* Adjust position */
            left: -30px; /* Adjust position */
            width: 80px;
        }
        
        #btn9 {
            bottom: -160px; /* Adjust position */
            left: 70px; /* Adjust position */
            width: 80px;
        }
        
        #btn10 {
            bottom: -160px; /* Adjust position */
            left: 170px; /* Adjust position */
            width: 80px;
        }
        
        #btn11 {
            bottom: -160px; /* Adjust position */
            left: 270px; /* Adjust position */
            width: 80px;
        }
        
        #btn12 {
            bottom: -215px; /* Adjust position */
            left: -30px; /* Adjust position */
            width: 80px;
        }
        
        #btn13 {
            bottom: -215px; /* Adjust position */
            left: 70px; /* Adjust position */
            width: 80px;
        }
        
        #btn14 {
            bottom: -215px; /* Adjust position */
            left: 170px; /* Adjust position */
            width: 80px;
        }
        
        #btn15 {
            bottom: -215px; /* Adjust position */
            left: 270px; /* Adjust position */
            width: 80px;
        }
        
